.container{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px;
  box-sizing: border-box;
  max-width: var(--desktop-width);
}

.number {
  font-family: 'Courgette', cursive;
  font-family: 'IBM Plex Mono', monospace;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 48px;
  color: var(--main-color-0);
  font-weight: 700;
  margin-bottom: 10px;
}

.title {
  font-family: 'Courgette', cursive;
  font-family: 'IBM Plex Mono', monospace;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 32px;
  color: var(--main-color-1);
  font-weight: 900;
  margin-bottom: 10px;
}

.description{}

.item {
  max-width: 600px;
  border-top: 3px solid var(--main-color-0);
  padding: 30px 0;
  margin-bottom: 30px;
}

.h1{
  font-size: 72px;
  color: var(--main-color-2);
  font-weight: 900;
}
